<!DOCTYPE html>
<html>
<head>
    <title>Group Chat</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
        
<body>
    
    <p id='requestUser'>{{ request.user.username }}</p>
    <header class='header'> 
        <h2>Group Chat "{{ room }}"</h2> 
    </header>
    <div class='admins'>
        {% if room.admin.all %}
            <ul>
                {% for admin in room.admin.all %}
                    {% if admin.name.id == request.user.id%}
                        <li>Вы Администратор</li>
                    {% else %}
                        <p>Admin:{{admin.name.username}}</p>
                    {% endif %}
                {% empty %}
                    <li>No admin assigned</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No admin assigned</p>
        {% endif %}
    </div>
    
    <p id="roomId">{{ room.id }}</p>
    <div id="messages">
        {% for message in messages %}
            <div class='message'>
                <h5 class='author'>{{ message.sender.username }}</h5>
                <p>{{ message.text }}</p>
                <small>{{ message.time }}</small>
            </div>
        {% endfor %}
    </div>
    <p class='newMessage'> Новые сообщения</p>
    <div id="output"></div><br>

        <div class='input'>
            <input type="text" id="myInput" placeholder="Type your message here" />
            <button id="sendMessage" type="button"></button>
            {% comment %} <button id="openWebSocket" type="button">Open WebSocket</button> {% endcomment %}
    </div>
    
    
</body>
</html>

